<div class="home-heading text-center mt-3">
Explore the world
</div>


<% @trips.each do |trip| %>
  <%= link_to trip_path(trip) do %>
    <div class="card-trip" >
      <% if trip.posts.first.photos.empty? %>
        <img src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="card-trip" />
      <% else %>
        <%= cl_image_tag trip.posts.first.photos[0].key, class: "card-trip"%>
      <% end %>
      <div class="card-body d-flex justify-content-between">
        <h3><%= trip.name %></h3>
        <% if trip.end_date.nil? %>
          <p>Still adding moments!</p>
        <% else %>
          <p><%= trip.start_date.strftime('%d %B %Y') %> - <%= trip.end_date.strftime('%d %B %Y') %></p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% @no_container = true %>
<!-- <div class="btn button-large draggable"> Hello </div>


<div class="btn button-small">Click</div> -->



