<!-- Overall div for trips index -->
<div class="trips-container">
  <!-- This is all trips on the left column-->
  <div class="all-trips">
    <div class="home-heading text-center mt-3">
      Your Trips
    </div>

    <% @trips.each do |trip| %>
      <%= link_to trip_path(trip), :class => "trip" do %>
        <div class="card-trip" >
          <% if trip.posts.empty? %>
            <img src="https://res.cloudinary.com/dzmacq4yx/image/upload/v1594288157/no-image-1_li83kj.jpg" class="card-trip" />
          <% elsif trip.posts.first.photos.empty?%>
            <img src="https://res.cloudinary.com/dzmacq4yx/image/upload/v1594288157/no-image-1_li83kj.jpg" class="card-trip" />
          <% else %>
            <%= cl_image_tag trip.posts.first.photos[0].key%>
          <% end %>
          <div class="card-body d-flex justify-content-between">
            <h3><%= trip.name %></h3>
            <p><%= trip.start_date.strftime('%B %Y') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- This is the friends list on the right column -->
  <div class="friend-list">
    <div class="friend-list-header">Friend List</div>
    <div class="friends">
      <div class="friend-row">
        <img class="avatar-friend" src="https://res.cloudinary.com/dzmacq4yx/image/upload/v1593930261/default_avatar-ea7cf6abde4eec089a4e03cc925d0e893e428b2b6971b12405a9b118c837eaa2_rpnilw.png"/>
        <div class="friend-name">Friend 1</div>
      </div>
      <div class="friend-row">
        <img class="avatar-friend" src="https://res.cloudinary.com/dzmacq4yx/image/upload/v1593930261/default_avatar-ea7cf6abde4eec089a4e03cc925d0e893e428b2b6971b12405a9b118c837eaa2_rpnilw.png"/>
        <div class="friend-name">Friend 2 dssda dsa   dsa </div>
      </div>
      <div class="friend-row">
        <img class="avatar-friend" src="https://res.cloudinary.com/dzmacq4yx/image/upload/v1593930261/default_avatar-ea7cf6abde4eec089a4e03cc925d0e893e428b2b6971b12405a9b118c837eaa2_rpnilw.png"/>
        <div class="friend-name">Friend 3</div>
      </div>
    </div>
  </div>

</div>



<!-- Javascript to detect if user is in current city and if there is no existing trip -->
<%= javascript_tag do %>
  currentCity = '<%= j @current_location.city %>';
  userCity = '<%= j current_user.city.name %>';
  noTrips = '<%= j @users_active_trips %>';
<% end %>
