<% @no_container = true %>


<div class="container-review">

  <!-- Description of the trip and background picture-->
  <div class= "title-review">
    <%= @trip.name %>
    <h4><%= @trip.start_date.strftime("%B %Y") %></h4>
    <div>
      <img class="img-background-review" src="https://images.unsplash.com/photo-1540439960520-cdf77dada88e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80" alt="">
      <p><%=@trip.description %></p>
    </div>
  </div>


  <!-- Block with one picture - description -->

  <div class = "description-middle-card-review">
    <img class="img-medium-review" src="https://images.unsplash.com/photo-1561775396-37b0892c6e9a?ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80" alt="">
    <div class="text-middle-card-review">
      <p class="middle-card-name-review"><%= @posts[0].name %></p>
      <p class="middle-card-description-review"><%= @posts[0].description %></p>
    </div>
  </div>

<!-- Block with 2 pictures + description-->

   <div class="small-card-block-review d-flex justify-content-between mt-4">
    <!--first post-->
    <div class = "card-review">
      <img class="img-small-review1" src="https://images.unsplash.com/photo-1557024951-5ea6065f494c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="">
    </div>


    <!-- Second post -->
    <div class = "card-review">
      <img class="img-small-review2" src="https://images.unsplash.com/photo-1567848191032-b2ba4a58b115?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80" alt="">
    </div>
  </div>

<!-- End of the block with 2 pictures + description-->

 <div class="small-card-block-review d-flex justify-content-between mt-4">
    <!--first post-->
    <div class = "card-review">
      <img class="img-small-review3" src="https://images.unsplash.com/photo-1552445093-6e48162efaea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
    </div>


    <!-- Second post -->
    <div class = "card-review">
      <img class="img-small-review4" src="https://images.unsplash.com/photo-1561775330-4d22fde8aeed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1825&q=80" alt="">
    </div>
  </div>
<!-- @trip_review_url is defined in controller -->
<a href="https://wa.me/?text=<%= @trip_review_url %>">Share via Whatsapp</a>

<a href="https://wa.me/?text=http://7051367b.ngrok.io/trips/2/review">Share via Whatsapp test</a>

<!-- <a href="whatsapp://send?text=www.google.com" data-action="share/whatsapp/share">Share via Whatsapp</a>
 -->
</div>
