 <%= image_tag 'cover-picture.png', class: 'banner' %> <!-- COVERPICTURE ON OUTSIDE BECAUSE BASED ON FIGMA IT IS AFTER NAV BAR-->
<div class="container">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-large", alt: "avatar-bordered" %>
  <label for="fname"> <%= @user.name %> </label>
  <label for="fname"> <%= @user.email %> </label>
  <label for="fname"> <%= @user.country.name %> </label>
</div>

<!-- continue editing the picture to make it fit as how to figma is --> IN PROG
<!-- and create a new css component file for image tag  -->
<!-- re do this part -->


