<%= image_tag 'banner-picture.png', class: 'banner' %> <!-- COVERPICTURE ON OUTSIDE BECAUSE BASED ON FIGMA IT IS AFTER NAV BAR-->
<div class="container">
  <h1 style="text-align: center; position: relative; top: 67px; font-size: 24px; font-weight: bold; "><%= @user.name %></h1>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-large", alt: "avatar-bordered" %>
  <h2 class="profile-text-fields" style="position: relative; bottom: 60px; right: 10px; font-size: 20px;">Email</h2>
  <p class="" style="position: relative; bottom: 60px; right: 10px; font-size: 16px"><%= @user.email %></p>
  <h2 class="profile-text-fields" style="position: relative; bottom: 60px; right: 10px; font-size: 20px;">Host country</h2>
  <p class="" style="position: relative; bottom: 60px; right: 10px; font-size: 16px"><%= @user.country.name %></p>
</div>




<!--  left: 59px; -->
