 <div class="user-profile">
  <div class="avatar-name-city">
    <div class="avatar-name-city">
      <!-- User's avatar -->
      <% if !current_user.photo.attached? %>
        <img class="avatar-large" src="https://res.cloudinary.com/dzmacq4yx/image/upload/v1593930261/default_avatar-ea7cf6abde4eec089a4e03cc925d0e893e428b2b6971b12405a9b118c837eaa2_rpnilw.png" />
      <% else %>
        <% cl_image_tag current_user.photo.key, class: "avatar-large" %>
      <% end %>
      <!-- User's name -->
      <div class="name-city">
        <div class="profile-name" ><%= @user.name.capitalize %></div>
        <!-- User's city -->
        <div class="profile-city"><%= @user.city.name %></div>
      </div>
    </div>
  </div>
  <!-- Avatar, name and city location -->

  <!-- User's Information -->
  <div class="profile-box">
    <!-- User First Name -->
    <div class="profile-item">
      <h2 class="profile-text-header">First Name</h2>
      <p class="profile-text-field"><%= @user.first_name %></p>
    </div>
    <!-- User Last Name -->
    <div class="profile-item">
      <h2 class="profile-text-header">Last Name</h2>
      <p class="profile-text-field"><%= @user.last_name %></p>
    </div>
    <!-- User's Email  -->
    <div class="profile-item">
      <h2 class="profile-text-header">Email</h2>
      <p class="profile-text-field"><%= @user.email %></p>
    </div>
    <!-- User's City  -->
    <div class="profile-item">
      <h2 class="profile-text-header">City</h2>
      <p class="profile-text-field"><%= @user.city.name %></p>
    </div>
  </div>
 </div>
