<div class="full-screen-image" style="background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url(https://s3-alpha-sig.figma.com/img/2516/afa8/ca8cdaaacc91ec920f79a985ca27ef62?Expires=1586736000&Signature=GIxg88~EsnzfRQ0ZWALEGs06xTYlD6im95O2bANi3Wun2NuGjdUEmJNp-jtG4-ihAPNuOOyV9xKl~2vwGwd3TmOER24E0y648AXorqE4Z~3KcXuH9KlkulxROd9UOdMTqH~79lqffl5T9e4o3ZpfN5SrG6mJCJxyrC8Kx1LHKteeTWlwixKhCIQUGPSPT9tuzX21RbWARFwI8sbl-cWRMthb379YxvFPYEwf7jG2ROW6NLB6QQ94p8y1QfX0mAMwoB7twdPrlpg4TGXNBFCeW1wr8OkqzbNxAKkc0KyZ0nEmTKRAk0K-DWyD7dwJ~VvFxTm~wM6duVK1eg~8Rtir7g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA)">
  <div class="logo-position">
    <%= cl_image_tag("https://res.cloudinary.com/dzmacq4yx/image/upload/v1585193799/logo_transparent_xb3nrn.png", height: 150, width: 150) %>
  </div>
  <div class="header-phrase">
    <h1>The new way to share emotions</h1>
  </div>

  <%= button_tag(type: 'button', id: "modal-button", class: "button-large position-bottom") do %>
    Log in
  <% end %>
</div>




<div id="modal-test" class="modal">
  <div class="modal-content animate">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<% @no_container = true %>
<% @no_navbar = true %>
