<h1>New post</h1>


<%= simple_form_for [@trip, @post] do |f| %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :date %>
  <%= f.button :submit %>
<% end %>
