<div id="image-one-full">
<img id="no-image" src="https://semantic-ui.com/images/wireframe/image.png" alt="" width="100%" >
</div>

<div class="main-body">
<%= simple_form_for [@trip, @post] do |f| %>
  <%= f.input :photos, as: :file, input_html: { multiple: true, id: "display-image" } %>
  <%= f.input :name %>
  <%= f.input :address, input_html: { id: "search" } %>
  <%= button_tag(type: 'button', id: "wiki-button", class: "button-small") do %>
    Search
  <% end %>
  <%= f.input :description, input_html: { id: "wiki-info"} %>
  <%= f.input_field :wiki, as: :boolean, class: "text-checkbox" %>
  <%= f.input :date %>
  <%= f.button :submit, class: "button-large" %>
<% end %>
</div>

<% @no_container = true %>
<div
  id="map-post"
  style="width: 100%;
  height: 600px;"
></div>
