
<%= simple_form_for [@trip, @post] do |f| %>
  <!-- container to add spacing, can't do it outside -->
  <!-- Button to add photos -->
  <div id="image-one-full">
    <img id="no-image" src="https://semantic-ui.com/images/wireframe/image.png" alt="" width="100%" >
    <label class="button-small-post-new">
      <i class="fas fa-camera"></i> New photo
      <span style="display:none;">
        <%= f.input :photos, as: :file, input_html: { multiple: true, accept: "image/*", id: "display-image" } %>
      </span>
    </label>
  </div>
  <div class="main-body mt-0">
    <!-- Name input -->
    <%= f.input :name, label: false, input_html: { placeholder: "Nice title here!", class: "title-input" } %>
    <div class="position-icon">
      <!-- Address input -->
      <%= f.input :address, label: false, input_html: { id: "search", placeholder: "Location", class: "address-input" } %>
      <!-- Button to search address for mapbox and wiki api -->
      <%= button_tag(type: 'button', id: "wiki-button", class: "button-rectangle") do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
    <!-- Description input -->
    <%= f.input :description, input_html: { id: "wiki-info", rows: 5, class: "description-input" } %>
    <!-- Checkbox as slider with flexbox for wiki info words on same line-->
    <div class="d-flex align-items-center">
      <div class="checkbox-switch">
        <label class="switch">
          <%= f.input_field :wiki, as: :boolean, class: "text-checkbox" %>
          <span class="slider round"></span>
        </label>
      </div>
      <div>
        <p class="edit-text-margin"><em>Wiki info</em></p>
      </div>
    </div>
    <!-- Date input -->
    <%= f.input :date, as: :date %>
  </div>
  <!-- Submit button fixed to bottom -->
  <div class="submit-fixed-bottom pt-2 pb-2 sticky-submit-button">
    <%= f.button :submit, "UPLOAD", class: "button-large" %>
  </div>
<% end %>

<!-- Mapbox -->
<div
  id="map-post"
  style="width: 100%;
  height: 400px;"
></div>

<div class="spacing"></div>
<% @no_container = true %>
