<div id="image-one-full">
  <%= cl_image_tag @post.photos[0].key, class: "post-image" %>
  <!-- <img id="no-image" src="https://semantic-ui.com/images/wireframe/image.png" alt="" width="100%" > -->
</div>

<div class="main-body">
  <h1><%= @post.name %></h1>
  <h3 class="mt-4"><strong>Date: </strong><%= @post.date.to_formatted_s(:long_ordinal) %></h3>
  <h4 class="mt-4"><strong>Address: </strong><%= @post.address %></h4>
  <h5 class="mt-4"><strong>Description</strong></h5>
  <p><%= @post.description %></p>
</div>

<!-- Mapbox -->
<div
  id="map1"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<% @no_container = true %>
