<div id="image-one-full">
  <%= cl_image_tag @post.photos[0].key, class: "post-image" %>
  <!-- <img id="no-image" src="https://semantic-ui.com/images/wireframe/image.png" alt="" width="100%" > -->
</div>

<div class="main-body">
  <!-- Post Title -->
  <div class="d-flex bd-highlight">
    <div class="p-2 bd-highlight">Title: </div>
    <div class="title-input p-2 pl-0 flex-grow-1 bd-highlight"><%= @post.name %></div>
  </div>
  <!-- Post Date -->
  <div class="d-flex bd-highlight">
    <div class="p-2 bd-highlight">Date: </div>
    <div class="title-input p-2 pl-0 flex-grow-1 bd-highlight"><%= @post.date.to_formatted_s(:long_ordinal) %></div>
  </div>
  <!-- Post Address -->
  <div class="mt-4">
    <div class="">Address: </div>
    <div class="description-input mt-2 p-3"><%= @post.address %></div>
  </div>
  <!-- Post Description -->
  <div class="mt-4">
    <div class="">Description: </div>
    <div class="description-input p-3"><%= @post.description %></div>
  </div>

</div>

<!-- Mapbox -->
<div
  id="map1"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<% @no_container = true %>
