<!DOCTYPE html>
<html>
  <head>
    <title>Momento</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
<!--      <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p> -->
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>
  </body>
</html>
