<!DOCTYPE html>
<html>
  <head>
    <title>Momento</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- added this for responsive design mobile & web ver -->

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <!-- Start of the navbar -->
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <a class="navbar-brand" href="">
          <i class="fas fa-list-ul navbar-icon"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <img class="avatar-bordered dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            </li>
          </ul>
        </div>
      </div>
      <!-- End of the navbar -->

    <div class="main-body">
      <%= yield %>
    </div>

<!--      <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p> -->
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>
  </body>
</html>
